@font-face {
  font-family: 'Superpixel';
  src: url('assets/fonts/SuperPixel-m2L8j.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Dracula';
  src: url('assets/fonts/Dracul\ Hotel.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit';
  background-color: white;
  margin: 0;
  height: 100vh;
  background-image: url('assets/games/grandtheftautoV.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cover-gradient {
  top: 0;
  position: absolute;
  background-image: linear-gradient(to right,transparent,rgba(0,0,0,0.8), transparent);
  height: 100vh;
  width: 100%;
}


#loginForm {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(11, 0, 41, 0.712);
  text-align: center;
  z-index: 100;
}

#loginForm i {
  font-size: 70px;
  color: rgb(0, 0, 39);
  font-weight: 200;
}

#loginForm h2 {
  color: rgb(0, 0, 39);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginForm input {
  border: 2px solid rgb(0, 0, 39);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-radius: 7px;
}

#loginForm button {
  background-color: rgb(0, 0, 39);
  color: white;
  padding: 5px 15px;
}

#loginForm .login-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-left: 2%;
  margin-right: 2%;
}

