@font-face {
  font-family: 'Superpixel';
  src: url('assets/fonts/SuperPixel-m2L8j.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Dracula';
  src: url('assets/fonts/Dracul\ Hotel.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit';
  background-color: white;
}

nav {
  background-color: rgb(207, 205, 205);
  display: flex;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  text-decoration: none;
}

nav a span {
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Superpixel';
  color: rgb(33, 1, 54);
}


/* span responsive */
@media (max-width: 768px) {
  nav a span {
    font-size: 20px;
  }
}

/* form */



/* footer */

footer {
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 18px;
  height: 25vh;
  background-color: rgb(33, 1, 54);
}

footer hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px;
  border-top: 1px solid rgb(255, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
}

footer p a {
  color: rgb(33, 1, 54);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: bold;
  color: white;
  border: 2px solid white;
}