@font-face {
  font-family: 'Superpixel';
  src: url('assets/fonts/SuperPixel-m2L8j.ttf') format('truetype'); 
}

@font-face {
  font-family: 'Dracula';
  src: url('assets/fonts/Dracul\ Hotel.ttf');
}

@font-face {
  font-family: 'SpaceNova';
  src: url('assets/fonts/SpaceNova-6Rpd1.otf');
}

@font-face {
  font-family: 'RebellionSquad';
  src: url('assets/fonts/RebellionSquad-ZpprZ.ttf');
}

@font-face {
  font-family: 'CombackHome';
  src: url('assets/fonts/CombackHomeRegular-jEMd9.ttf');
}

@font-face {
  font-family: 'BruceForever';
  src: url('assets/fonts/BruceForeverRegular-X3jd2.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit';
  background-color: white;
}

nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  text-decoration: none;
}

nav a span {
  font-size: 25px;
  cursor: pointer;
  font-family: 'BruceForever';
  color: rgb(33, 1, 54);
}

nav ul  {
  display: flex;
  column-gap: 40px;
  list-style-type: none;
}

nav ul li a {
  font-size: 15px;
  text-align: center;
  font-family: 'BruceForever';
  font-weight: bold;
  color: rgb(33, 1, 54);
  text-decoration: none;
  list-style-type: none;
}

nav ul li a i {
  font-size: 25px;
  margin-top: 3px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* span responsive */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* show hamburger */
    color: rgb(33, 1, 54);
  }

  nav {
    position: sticky;
    top: 0;
  }

  nav ul {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
  }

  #nav-links.active {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding-left: 6px;
    padding-right: 6px;
    row-gap: 10px;
  }

  nav a span {
    font-size: 20px;
  }
}

/* home section */

.home {
  padding-left: 8%;
  padding-top: 50px;
  padding-right: 8%;
  display: flex;
  height: 95vh;
  background-image: url('assets/images/gaming-setup-with-laptop-desk.jpg');
  background-size: cover;
}

.home .home-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 50px 0 0 50px;
  padding-left: 10px;
  padding-right: 10px;
  height: 90%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(25px);
}

.home .home-subtitle h1 {
  font-size: 40px;
  font-family: 'BruceForever';
  color: white;
}

.home .home-subtitle p {
  font-size: 25px;
  font-family: 'BruceForever';
  color: white;
  padding-bottom: 30px;
}

.home .home-image {
  width:550px;
  height: 90%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(25px);
}

.home .home-image img {
  width: 100%;
  border-radius: 0 50px 50px 0;
  height: 100%;
  border: 5%;
}

/* hero buttons */

.home .home-subtitle .icon {
  margin-left: 25%;
  display: inline-flex;
  column-gap: 20px;
}

.home .home-subtitle .icon a {
  background-color: rgb(33, 1, 54);
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'BruceForever';
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.home .home-subtitle .icon a:hover {
  color: purple;
  background-color: white;
  border: 1px solid #800080;
  transition: 0.3s;
}

/* home responsive */

@media (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    height: 60vh;
    gap: 0;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    background-image: url('assets/images/hasheem-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home .home-image {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    object-fit: contain;
  }

  .home-image img {
    display: none;
    width: 80%;
    height: 100px;
  }

  .home .home-subtitle {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 40%;
    justify-content: center;
    text-align: center;
    z-index: 20;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    display: none;
  }

  .home .home-image {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  .home .home-subtitle .icon {
    margin-left: 0;
    justify-content: center;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
}


/* about section */
.about {
  height: 115vh;
  background-color: rgb(33, 1, 54);
}

.about .about-header {
  justify-content: center;
  text-align: center;
  color: white;
}

.about-header i {
  font-size: 60px;
  padding-top: 20px;
}

/* about container */

.about-container {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  grid-template-columns: 300px 300px 300px;
  column-gap: 8%;
  row-gap: 5%;
}

.about-container .about-content {
  background-color: white;
  height: 290px;
  border-radius: 10px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-family: 'BruceForever';
}

.about-container .about-content img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.about-container .about-content  p {
  font-size: 50px;
  color: rgb(33, 1, 54);
  padding-top: 10px;
  font-weight: bold;
}

/* hover effect */
.about-content:hover {
  transform: scale(1.02);
}

/* responsive */

@media (max-width: 768px) {
  .about-container {
    display: grid;
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
    row-gap: 3%;
  }

  .about-container .about-content {
    background-color: white;
    height: auto;
  }

  .about-container .about-content  p {
    font-size: 30px;
    color: purple;
    padding-top: 10px;
    font-weight: bold;
  }

  .about {
    height: 130vh;
    display: flex;
    flex-direction: column;
  }
}


/* maelekezo section */

.maelekezo {
  height: 600px;
  padding-top: 20px;
  background-image: url('assets/images/gamepad.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.maelekezo-header {
  font-size: 50px;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  padding-bottom: 20px;
}

.maelekezo-body {
  height: 80%;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  column-gap: 20px;
  margin-left: 8%;
  margin-right: 8%;
}

.maelekezo-content {
  background-color: rgb(228, 225, 225);
  border-radius: 10px;
  color: white;
}

.maelekezo-content h2 {
  font-size: 15px;
  font-family: 'BruceForever';
  text-align: center;
  background-color: rgb(33, 1, 54);
  border-radius: 8px 8px 0px 0px;
  color: rgb(255, 255, 255);
  padding-top: 15px;
  padding-bottom: 15px;
}

.maelekezo-content p {
  font-size: 11px;
  margin-left: 5%;
  line-height: 30px;
  color: rgb(33, 1, 54);
  font-family: 'BruceForever';
}

.maelekezo-content .span1 {
  background-color: white;
  color: rgb(33, 1, 54);
  border: 1px solid rgb(33, 1, 54);
  display: flex;
  justify-content: center;
  margin: 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
}

.maelekezo-content .span2 {
  display: flex;
  background-color: red;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 2px;
  font-size: 17px;
  font-weight: bold;
}

.maelekezo-content a {
  background-color: rgb(33, 1, 54);
  display: block;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 8%;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  font-family: 'BruceForever';
  color: white;
  border-radius: 5px;
}

/* hover effect */
.maelekezo-content a:hover {
  background-color: white;
  border: 2px solid rgb(33, 1, 54);
  color: rgb(33, 1, 54);
}

/* maelekezo responsive */

@media (max-width: 768px) {
  .maelekezo-body {
    display: grid;
    grid-template-columns: 90%;
    row-gap: 50px;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }


  .maelekezo-content a {
    background-color: rgb(33, 1, 54);
    display: block;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
  }

  .maelekezo {
    height: auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

}

/* footer */

footer {
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 18px;
  font-family: 'BruceForever';
  height: 25vh;
  background-color: rgb(33, 1, 54);
}

footer hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px;
  border-top: 1px solid rgb(255, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
}

footer p a {
  color: rgb(33, 1, 54);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: bold;
  color: white;
  border: 2px solid white;
}


/* counter */

.stats-section {
  font-family: 'BruceForever', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #ffffff;
  padding: 80px 20px;
  text-align: center;
}

.stat h2 {
  font-size: 3rem;
  color: rgb(33, 1, 54);
  margin-bottom: 10px;
}

.stat p {
  font-size: 1.2rem;
  color: rgb(33, 1, 54);
}


/* counter reponsive */

@media (max-width: 768px) {
  .stats-section {
    flex-direction: column;
    gap: 30px;
    padding: 40px 10px;
  }

  .stat h2 {
    font-size: 2rem;
  }

  .stat p {
    font-size: 1rem;
  }
}